<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF=8" />
    <meta http-equiv="X-UA-Compatible" coontent="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Colours</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="sub-header">
        <nav>
            <a href="/"><img src="assets/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/services">SERVICES</a></li>
                    <li><a href="/work">OUR WORK</a></li>
                    <li><a href="/users/login">SIGN-IN</a></li>
                </ul>
            </div>
        </nav>
    <h1>About Us</h1>
    </section>
<!----about us content---->
<section class="ahout-us">
    <div class="row">
        <div class="about-col">
            <h1>Transforming spaces with precision and care</h1>
            <p>Welcome to our work page! At our painting business based in Bermuda, we take great pride in our work and strive to exceed our customers' expectations with every project we take on. Whether you need your roof painted to enhance your home's curb appeal, your interior walls refreshed with a new coat of paint, or your basement cleaned and painted for a fresh start, we've got you covered. Our team of experienced and skilled painters are equipped with the latest tools and techniques to deliver exceptional results that will leave your property looking brand new. We understand that painting can be a daunting task, which is why we're committed to providing our customers with a stress-free experience. From our initial consultation to the final brush stroke, we'll work closely with you to ensure that your vision is brought to life. At our painting business, we value quality workmanship, timely completion, and customer satisfaction above all else. We take pride in the relationships we've built with our clients over the years and are committed to earning your trust and satisfaction through every job we undertake. Thank you for considering our painting business for your next project. We look forward to working with you and delivering exceptional results that you'll love for years to come.</p>
            <a href="/work" class="hero-btn red-btn">OUR WORK</a>
        </div>
        <div class="about-col">
            <img src="assets/images/about.png">
        </div>
    </div>
</section> 
</body>
</html> 
