<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8"/>
    <meta http-equiv="X-UA-Compatible" coontent="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Colours</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="header">
        <nav>
            <a href="/"><img src="assets/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/services">SERVICES</a></li>
                    <li><a href="/work">OUR WORK</a></li>
                    <li><a href="/users/login">SIGN-IN</a></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Country Colours</h1>  
            <p>From roof to tank we paint. <br> We are painting contractors based in Bermuda. <br> Take a look at our work.</p>
            <a href="/work"class="hero-btn">Our Work
            </a>
        </div>
    </section>
    
    <!----Services---->
    <section class="services">
        <h1><br><br>Services We Offer</h1>
        <div class="row">
            <div class="service-col">
                    <h3>Roof Painting</h3>
                    <p>
                        At our company, we offer professional and reliable roof painting services to enhance the look and lifespan of your roof. Our team of skilled and experienced professionals use high-quality materials and techniques to provide excellent results that are guaranteed to exceed your expectations. Roof painting is a cost-effective way to improve the appearance of your home or commercial building. Our services are designed to protect your roof from the damaging effects of UV rays, weather, and wear and tear, which can cause it to deteriorate over time. By choosing us for your roof painting needs, you can prolong the life of your roof and avoid costly repairs or replacements in the future.
                    </p>
            </div>
            <div class="service-col">
                <h3>Interior Painting</h3>
                    <p>
                        We understand that interior painting can be a daunting task, which is why we offer a hassle-free experience from start to finish. Our team will work with you to understand your vision and preferences, and provide recommendations on colors, textures, and finishes that will enhance the aesthetic appeal of your space. Our interior painting services are designed to be comprehensive, covering everything from surface preparation to final touch-ups. We use only high-quality paints and materials to ensure that the finished product is durable, long-lasting, and looks great for years to come. Our services also include protection of your furniture, floors, and other belongings during the painting process. We take every precaution to ensure that your property is treated with the utmost care and respect. Whether you need a fresh coat of paint for your living room, bedroom, kitchen, or office space, we can help. We have the skills and expertise needed to tackle any size or type of interior painting project, from small touch-ups to large-scale renovations.
                    </p>
            </div>
            <div class="service-col">
                <h3>Basement Cleaning</h3>
                <p>
                    Our comprehensive cleaning service covers everything from removing debris and junk to wiping down surfaces and organizing your belongings. Our basement cleaning services are designed to be customized to your specific needs and preferences. Whether you need a one-time deep cleaning or regular cleaning and maintenance, our team can work with you to create a personalized plan that meets your unique requirements. We use safe and effective cleaning products and techniques to ensure that your basement is cleaned thoroughly without compromising your health or the environment. We also take every precaution to protect your property during the cleaning process. Our basement cleaning services include removing debris and junk, sweeping and vacuuming floors, wiping down surfaces, cleaning windows, organizing and decluttering, and disinfecting as needed.
                </p>
            </div>
        </div>
    </section>

    <!-----Our Work---->
    <section class="work">
        <h1>What can we do for you?</h1>
        <p>Well....all sorts of things.</p>
        <div class="row">
            <div class="work-col">
                <img src="assets/images/crack.jpg">
                <h3>Does your wall have nasty cracks?</h3>
                <p>Don't worry we can fix that.</p>
            </div>
            <div class="work-col">
                <img src="assets/images/unpainted_house.jpg">
                <h3>Or maybe it looks like this...</h3>
                <p>Don't worry we can fix that too.</p>
            </div>
            <div class="work-col">
                <img src="assets/images/nice_house.jpg">
                <h3>Your house can look like this</h3>
                <p>Our services guarantee customers:<br>  - Maximum professionalism, security;<br>    - Efficiency and quality of work and materials;<br>    - Good prices.</p>
            </div>
        </div>
    </section>

    <!-----Call to Action---->
    <section class="cta">
        <h1>If you are interested in any of our services <br> sign in to request consultation and a quote.</h1>
        <a href="/users/login" class="hero-btn">SIGN IN</a>
    </section>

    <!-----Footer---->
    <section class="footer">
        <h4>Socials</h4>
        <p>We are painting contractors based in Bermuda.</p>
        <div class="icons">
            <span class="material-symbols-outlined">
                <a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.facebook.com"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://www.linkedin.com"><i class='bx bxl-linkedin-square'></i></a>
            </span>
        </div>
    </section>
</body>
</html> 