<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" coontent="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Colours</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <section class="profile">
    <section class="small-sub-header">
        <nav>
            <a href="/"><img src="/assets/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/services">SERVICES</a></li>
                    <li><a href="/work">OUR WORK</a></li>
                    <li><a href="/users/dashboard">DASHBOARD</a></li>
                </ul>
            </div>
        </nav>
        <h1>User Profile</h1>
    </section>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>User Information</header>
                <p>Use this page to alter your information.</p>
                <% if (typeof errorMessage !== "undefined") { %>
                    <div class="alert alert-danger" role="alert">
                      <%= errorMessage %>
                    </div>
                  <% } %>                  
                <form action="/updateProfile" method="POST" id="form">
                    <div class="field input-field">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" class="input editable" value="<%= user.username %>" required>
                    </div>

                    <div class="field input-field">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="input editable" value="<%= user.email %>" required>
                    </div>

                    <div class="field input-field">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="password editable" placeholder="••••••••">
                    </div>
                    <div class="field button-field">
                      <button type="submit">Save Changes</button>
                  </div>
                </form>
            </div>
        </div>
    </section>
  </section>
  </body>
</html>
